extends layouts/index.pug

block vista
    style.
        .table td, .table th {
            vertical-align: middle;
        }
        h1 {
            color: blue;
        }
        hr {
            background-color: #ddd;
        }
        .jumbotron {
            min-height: 100vh;
        }

    div(class="jumbotron")
        h1='Vista de Productos'
        br
        if hayProductos
            div(class="table-responsive")
                table(class="table table-dark")
                    tr
                        th='Nombre'
                        th='Precio'
                        th='Foto'
                        each producto in productos
                            tr
                                td=producto.title
                                td=producto.price
                                td
                                    img(width="50" src=producto.thumbnail alt="not found")
        else
            h3(class="alert alert-warning")='No se encontraron productos'
        br
        a(href="/" type="button" class="btn btn-primary")='Cargar un nuevo producto'
